p ───────────────────────
p 会員登録にて、登録いただいたメールアドレスに確認メールを送信しています。
br
p 下記の「登録メールアドレス確認」のURLをクリックすると本人確認が完了します。
p * このメールに返信する必要はありません。
br
p 以下のURLにアクセスしてください。会員登録ありがとうございました
p ───────────────────────
br
p #{actionLink}
br
p ───────────────────────
br
p このアドレス確認を依頼していない場合は、以下のサポート窓口までご連絡ください。
p
p カスタマーサポート
